---
layout: base.html
title: "Tagged 'inspiring'"
---
<div x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'children' }" id="tab_wrapper" class="border-2 border-purple-900">

  {% include 'genre-tabs.html' %}
  
  <div class="books" x-show="tab === 'children'">
    {% for book in books.children | reverse %}{% if 'inspiring' in book.tags %}
    {% include 'books.html' %}
    {% endif %}{% endfor %}
  </div>
  <div class="books" x-show="tab === 'young-adult'">
    {% for book in books.ya | reverse %}{% if 'inspiring' in book.tags %}
    {% include 'books.html' %}
    {% endif %}{% endfor %}
  </div>
  <div class="books" x-show="tab === 'new-adult'">
    {% for book in books.na | reverse %}{% if 'inspiring' in book.tags %}
    {% include 'books.html' %}
    {% endif %}{% endfor %}
  </div>
  <div class="books" x-show="tab === 'adult'">
    {% for book in books.adult | reverse %}{% if 'inspiring' in book.tags %}
    {% include 'books.html' %}
    {% endif %}{% endfor %}
  </div>
  <div class="books" x-show="tab === 'nonfiction'">
    {% for book in books.nonfiction | reverse %}{% if 'inspiring' in book.tags %}
    {% include 'books.html' %}
    {% endif %}{% endfor %}
  </div>

</div>