<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title }} | Readerporium
    </title>
    <link rel="stylesheet" href="/assets/tailwind.css" />
    <script defer src="/assets/alpine.min.js"></script>
    <link rel="icon" type="image/icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
  </head>

  <body class="antialiased bg-gradient-to-r from-gray-900 via-purple-900 to-gray-900">
    <!--nav-->
    {% include 'header.html' %}
    <!--main content-->
    <main>
      <div class="p-2 max-w-3xl mx-auto sm:p-4 lg:max-w-4xl lg:p-6 xl:max-w-6xl bg-gray-900 rounded">
        <div class="text-color">
          <h1>{{ title }}</h1>
          {{ content | safe }}
        </div>
      </div>
    </main>
    <!--footer-->
    <footer class="flex items-center justify-center mt-10 p-3 bg-gray-900">
      <div class="text-color">
        <p>&copy;2021 Readerporium</p>
      </div>
    </footer>
  </body>
</html>