<div id="{{ book.title | slugify }}" class="border-2 border-purple-900 px-3 py-10 text-center">
  <img
    src="{% if book.cover %}/assets/covers/{% if book.series != 'Standalone' %}{{ book.series | slugify }}/{% endif %}{{ book.cover }}{% else %}https://via.placeholder.com/220x320?text=No+cover+available{% endif %}"
    alt="cover"
    class="cover"
    loading="lazy"
  >~
  <h2 class="text-2xl font-semibold">
    {{ book.title }}
  </h2>~
  <p>
    <a href="/authors/{{ book.author | slugify }}/">{{ book.author }}</a>
  </p>
  {% if book.series != 'Standalone' %}<p>
    <a href="/authors/{{ book.author | slugify }}/#{{ book.series | slugify }}">{{ book.series }}{% if book.order %} #{{ book.order }}{% endif %}</a>
  </p>{% endif %}~
  <p>
    ISBN: {{ book.isbn if book.isbn else 'null' }}
  </p>
  <p>
    {{ book.date if book.date else 'Publish date unavailable' }} / {{ book.publisher if book.publisher else 'Publisher unavailable' }}
  </p>~
  
  <p>
    <a href="/tags/{{ book.pace }}/">{{ book.pace }}</a> / {% if book.words %}{{ book.words }} words ({{ 'flash fiction' if (book.words < 3500) }}{{ 'short story' if (book.words > 3500) and (book.words < 7500) }}{{ 'novellette' if (book.words > 7500) and (book.words < 17000) }}{{ 'novella' if (book.words > 17000) and (book.words < 40000) }}{{ 'novel' if book.words > 40000 }}){% else %}Unknown wordcount{% endif %}
  </p>
  <p>
    {% set comma = joiner() %}{% for tag in book.tags -%}<a href="/tags/{{ tag | slugify }}/">{{ comma() }} {{ tag }}</a>{% endfor %}
  </p>~
  <div class="description">
    {% if book.description %}{% if book.order > 1 %}
      <div class="spoiler">
        {{ book.description | strip_html | truncate(360) }}
      </div>
      {% else %}{{ book.description | strip_html | truncate(360) }}{% endif %}
    {% else %}<span class="text-center">No description available</span>{% endif %}
  </div>~
  <p class="mt-2">
    <a href="/authors/{{ book.author | slugify }}/#{% if book.series != 'Standalone' %}{{ book.series | slugify }}{% else %}{{ book.title | slugify }}{% endif %}" class="button">View</a>
  </p>
</div>