<header x-data="{ isOpen: false }" class="flex justify-between p-4 bg-gray-900 lg:p-8 mb-10">
  <div class="flex items-center">
    <a href="/" class="text-2xl font-bold text-color">Readerporium</a>
  </div>

  <!-- left header section -->
  <div class="flex items-center justify-between">
    <button @click="isOpen = !isOpen" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-600 lg:hidden" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
    <div class="hidden space-x-6 text-color lg:inline-block">
      <a href="/tags/" class="text-base">Tags</a>
      <a href="/authors/" class="text-base">Authors</a>
      <a href="/childrens/" class="text-base">Childrens</a>
      <a href="/young-adult/" class="text-base">Young Adult</a>
      <a href="/new-adult/" class="text-base">New Adult</a>
      <a href="/adult/" class="text-base">Adult</a>
      <a href="/nonfiction/" class="text-base">Nonfiction</a>
    </div>

    <!-- mobile navbar -->
    <div class="mobile-navbar">
      <!-- navbar wrapper -->
      <div class="fixed left-0 w-full h-auto p-5 bg-purple-600 rounded-lg shadow-xl top-16" x-show="isOpen"
        @click.away=" isOpen = false">
        <div class="flex flex-col space-y-6">
          <a href="/tags/" class="text-sm text-gray-900">All Tags</a>
          <a href="/childrens/" class="text-sm text-gray-900">Childrens</a>
          <a href="/young-adult/" class="text-sm text-gray-900">Young Adult</a>
          <a href="/new-adult/" class="text-sm text-gray-900">New Adult</a>
          <a href="/adult/" class="text-sm text-gray-900">Adult</a>
          <a href="/nonfiction/" class="text-sm text-gray-900">Nonfiction</a>
        </div>
      </div>
    </div>
    <!-- end mobile navbar -->
  </div>
  <!-- right header section -->

</header>