<div class="series">
  <div class="mt-8">
    <img
      src="{% if book.cover %}/assets/covers/{% if book.series != 'Standalone' %}{{ book.series | slugify }}/{% endif %}{{ book.cover }}{% else %}https://via.placeholder.com/220x320?text=No+cover+available{% endif %}"
      alt="cover"
      class="cover"
      loading="lazy"
    >
  </div>

  <div class="sm:col-span-2 px-2 py-10 text-center">
    <h2 id="{{ book.title | slugify }}" class="text-2xl font-semibold">
      {{ book.title }}
    </h2>~
    <p>
      {{ book.author }}
    </p>
    {% if book.series != 'Standalone' %}<p>
      {{ book.series }}{% if book.order %} #{{ book.order }}{% endif %}
    </p>{% endif %}~
    <p>
      ISBN: {{ book.isbn if book.isbn else 'null' }}
    </p>
    <p>
      &copy;{{ book.year if book.year else 'Publish date unavailable' }} / {{ book.publisher if book.publisher else 'Publisher unavailable' }}
    </p>~
    <p>
      <a href="/tags/{{ book.pace }}/">{{ book.pace }}</a> / {% if book.words %}{{ book.words }} words ({{ 'flash fiction' if (book.words < 3500) }}{{ 'short story' if (book.words > 3500) and (book.words < 7500) }}{{ 'novellette' if (book.words > 7500) and (book.words < 17000) }}{{ 'novella' if (book.words > 17000) and (book.words < 40000) }}{{ 'novel' if book.words > 40000 }}){% else %}Unknown wordcount{% endif %}
    </p>
    <p>
      {% set comma = joiner() %}{% for genre in book.genre -%}<a href="/{{ genre | slugify }}/">{{ comma() }} {{ genre }}</a>{% endfor %}
    </p>
    <p>
      {% set comma = joiner() %}{% for tag in book.tags -%}<a href="/tags/{{ tag | slugify }}/">{{ comma() }} {{ tag }}</a>{% endfor %}
    </p>~
    <div class="description text-left">
      {% if book.description %}{{ book.description | safe }}{% else %}<p class="text-center">No description available</p>{% endif %}
    </div>
  </div>
</div>