---
layout: base.html
title: 'Books by Angela Colsin'
---
<div x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'the-crucible' }" id="tab_wrapper" class="border-2 border-purple-900">
  <nav class="flex items-center justify-center border-b-2 border-purple-900">
    <div
      class="tab"
      :class="{ 'active': tab === 'the-crucible' }"
      @click.prevent="tab = 'the-crucible'; window.location.hash = 'the-crucible'"
    >
      The Crucible
    </div>
  </nav>

  <div id="the-crucible" class="divide-y-2 divide-purple-900" x-show="tab === 'the-crucible'">
    {% for book in books.mature | sortByOrder %}{% if 'The Crucible' == book.series %}
    {% include 'series.html' %}
    {% endif %}{% endfor %}
  </div>
</div>