---
layout: base.html
title: 'Placeholder Author'
permalink: '/placeholder-author/'
---
<div x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'all' }" id="tab_wrapper" class="border-2 border-purple-900">
  <nav class="flex items-center justify-center border-b-2 border-purple-900">
    <div
      class="tab"
      :class="{ 'active': tab === 'all' }"
      @click.prevent="tab = 'all'"
    >
      All
    </div>
    <div
      class="tab"
      :class="{ 'active': tab === 'placeholder-series' }"
      @click.prevent="tab = 'placeholder-series'; window.location.hash = 'placeholder-series'"
    >
      Placeholder Series
    </div>
  </nav>

  <div class="books" x-show="tab === 'all'">
    {% for book in books %}{% if 'Placeholder Author' == book.author %}
    {% include 'books.html' %}
    {% endif %}{% endfor %}
  </div>
  <div id="placeholder-series" class="divide-y-2 divide-purple-900" x-show="tab === 'placeholder-series'">
    {% for book in books %}{% if 'Placeholder Series' == book.series %}
    {% include 'series.html' %}
    {% endif %}{% endfor %}
  </div>
</div>