---
layout: base.html
title: 'Books by R.E. Butler'
---
<div x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'wilde-creek' }" id="tab_wrapper" class="border-2 border-purple-900">
  <nav class="flex items-center justify-center border-b-2 border-purple-900">
    <div
      class="tab"
      :class="{ 'active': tab === 'wilde-creek' }"
      @click.prevent="tab = 'wilde-creek'; window.location.hash = 'wilde-creek'"
    >
      Wilde Creek
    </div>
  </nav>

  <div id="wilde-creek" class="divide-y-2 divide-purple-900" x-show="tab === 'wilde-creek'">
    {% for book in books.mature | sortByOrder %}{% if 'Wilde Creek' == book.series %}
    {% include 'series.html' %}
    {% endif %}{% endfor %}
  </div>
</div>