---
layout: base.html
title: Downloads
---
<div x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : '' }" id="tab_wrapper" class="border-2 border-purple-900">
  <nav class="flex items-center justify-center border-b-2 border-purple-900">
    <div
      class="tab"
      :class="{ 'active': tab === 'standalone' }"
      @click.prevent="tab = 'standalone'; window.location.hash = 'standalone'"
    >
      Standalone
    </div>
    <div
      class="tab"
      :class="{ 'active': tab === 'the-mistborn-saga' }"
      @click.prevent="tab = 'the-mistborn-saga'; window.location.hash = 'the-mistborn-saga'"
    >
      The Mistborn Saga
    </div>
    <div
      class="tab"
      :class="{ 'active': tab === 'the-stormlight-archive' }"
      @click.prevent="tab = 'the-stormlight-archive'; window.location.hash = 'the-stormlight-archive'"
    >
      The Stormlight Archive
    </div>
  </nav>

  <div class="divide-y-2 divide-purple-900" x-show="tab === 'standalone'">
    {% for book in books.adult %}{% if ('Brandon Sanderson' == book.author) and ('Standalone' == book.series) %}
    {% include 'series.html' %}
    {% endif %}{% endfor %}
  </div>
  <div id="the-mistborn-saga" class="divide-y-2 divide-purple-900" x-show="tab === 'the-mistborn-saga'">
    {% for book in books.ya | sortByOrder %}{% if 'The Mistborn Saga' == book.series %}
    {% include 'series.html' %}
    {% endif %}{% endfor %}
  </div>
  <div id="the-stormlight-archive" class="divide-y-2 divide-purple-900" x-show="tab === 'the-stormlight-archive'">
    {% for book in books.adult | sortByOrder %}{% if 'The Stormlight Archive' == book.series %}
    {% include 'series.html' %}
    {% endif %}{% endfor %}
  </div>
</div>