---
layout: "base.html"
title: "New Adult Library"
---
<h2>Filter by Tags</h2>
<div class="border-2 border-purple-900">
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 2xl:grid-cols-6 p-2">
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/slow-paced/#new-adult" class="text-xl font-medium">
        Slow-Paced
      </a>
    </div>
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/medium-paced/#new-adult" class="text-xl font-medium">
        Medium-Pace
      </a>
    </div>
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/fast-paced/#new-adult" class="text-xl font-medium">
        Fast-Paced
      </a>
    </div>
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/adventure/#new-adult" class="text-xl font-medium">
        Adventure
      </a>
    </div>
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/fantasy/#new-adult" class="text-xl font-medium">
        Fantasy
      </a>
    </div>
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/mystery/#new-adult" class="text-xl font-medium">
        Mystery
      </a>
    </div>
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/romance/#new-adult" class="text-xl font-medium">
        Romance
      </a>
    </div>
  </div>
</div>

<h2>All Books</h2>
<div class="border-2 border-purple-900">
  <div class="books">
    {% for book in books.na | reverse %}
    {% include 'books.html' %}
    {% endfor %}
  </div>
</div>