---
layout: "base.html"
title: "Nonfiction Library"
---
<h2>Filter by Tags</h2>
<div class="border-2 border-purple-900">
  <div class="grid sm:grid-cols-3 lg:grid-cols-5 2xl:grid-cols-6 p-2">
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/slow-paced/#nonfiction" class="text-xl font-medium">
        Slow-Paced
      </a>
    </div>
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/medium-paced/#nonfiction" class="text-xl font-medium">
        Medium-Pace
      </a>
    </div>
    <div class="border-2 border-purple-900 px-2 py-10 text-center">
      <a href="/tags/fast-paced/#nonfiction" class="text-xl font-medium">
        Fast-Paced
      </a>
    </div>
  </div>
</div>

<h2>All Books</h2>
<div class="border-2 border-purple-900">
  <div class="books">
    {% for book in books.nonfiction | reverse %}
    {% include 'books.html' %}
    {% endfor %}
  </div>
</div>