---
layout: "base.html"
title: "Young Adult Library"
---
<div x-data="{ tab: 'all' }" id="tab_wrapper" class="border-2 border-purple-900">
  <nav class="flex items-center justify-center border-b-2 border-purple-900">
    <div
      class="tab"
      :class="{ 'active': tab === 'all' }"
      @click.prevent="tab = 'all'"
    >
      All
    </div>
    <div
      class="tab"
      :class="{ 'active': tab === 'adenture' }"
      @click.prevent="tab = 'adenture'"
    >
      Science Fiction
    </div>
    <div
      class="tab"
      :class="{ 'active': tab === 'fantasy' }"
      @click.prevent="tab = 'fantasy'"
    >
      Fantasy
    </div>
    <div
      class="tab"
      :class="{ 'active': tab === 'mystery' }"
      @click.prevent="tab = 'mystery'"
    >
      Mystery
    </div>
  </nav>

  <div class="books" x-show="tab === 'all'">
    {% for book in books %}{% if 'Young Adult' in book.genre %}
    {% include 'books.html' %}
    {% endif %}{% endfor %}
  </div>
  <div class="books" x-show="tab === 'adenture'">
    {% for book in books %}{% if 'Young Adult' in book.genre %}{% if 'Adventure' in book.tags %}
    {% include 'books.html' %}
    {% endif %}{% endif %}{% endfor %}
  </div>
  <div class="books" x-show="tab === 'fantasy'">
    {% for book in books %}{% if 'Young Adult' in book.genre %}{% if 'Fantasy' in book.tags %}
    {% include 'books.html' %}
    {% endif %}{% endif %}{% endfor %}
  </div>
  <div class="books" x-show="tab === 'mystery'">
    {% for book in books %}{% if 'Young Adult' in book.genre %}{% if 'Mystery' in book.tags %}
    {% include 'books.html' %}
    {% endif %}{% endif %}{% endfor %}
  </div>
</div>